<!doctype html>
<html lang="en">

<head>
    <title>Title Search</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/titlestyle.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-6">
            <a class="navbar-brand mb-0 h1" href="{{url_for('index')}}">NYT Bestsellers List Charts</a>
        </div>
        <div class="col-3"><button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authorSearch')}}">Author Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('titleSearch')}}">Title Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('price')}}">Price and Ranking</a>
                </li>

                <!-- <span
                class="sr-only">(current)</span> -->
            </ul>

        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="row">
                <div id="titleDropdown"></div>
                <div id="titleSearch">
                    <!-- This chart will be interactive by search for title or author to display performance over time.  -->
                </div>
            </div>
            <!-- /.col-lg-8 -->

            <!-- /.col-md-4 -->
        </div>
        <div class="col">
            <h1 class="font-weight-light">Title Search</h1>
            <p>Was your favorite book a topseller? Find it here&mdash;at least if it charted in the last eight years.

            </p>

        </div>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class=Was"m-0 text-center text-white">Created by Ryan Heller & Jarred Armijo &copy; 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/titleSearch.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
</body>

</html>